<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="//mandarinspot.com/static/mandarinspot.min.js" charset="UTF-8"></script>

    </head>
    <body">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main>
            {% if language == "jp" %}
                <input type="hidden" value="jp" id="language">
            {% elif language == "cn"  %}
            <input type="hidden" value="cn" id="language">
            {% endif %}

            <div class="urbanist-main">
                <div style="display:flex; flex-direction: row;">
                    <div class="ui" style="width:100%; justify-content: center;">
                        <div class="row" style="height:fit-content">
                                <div onclick="home()" class="left aligned column" style="display:flex">
                                    <div class="two-col">
                                        <img style=width:100% src="../static/wordweaverlogo.png">
                                    </div>
                                    <div class="four-col" style="padding-left: 1rem; font-weight:500; font-size:32px; display: flex; align-items: center;">
                                        <span class="huge">Word Weaver</span>
                                    </div>
                                </div>
                        </div>
                        {% if language == "cn" %}
                        <div style="flex-direction: column;">
                            <div class="left aligned column main-col" style="max-width: 800px">
                                <div class="center-container" id="text" style="text-align: left;">
                                    <span id="mySpan" style="position:relative;">{{ spans }}</span>

                                </div>
                            </div>
                        </div>
                        {% elif language == "jp" %}
                        <div style="flex-direction: column;">
                            <div class="left aligned column main-col" style="max-width: 800px">
                                <div class="center-container" id="text" style="text-align: left;">
                                    {% for span in spans %}<span style="position:relative;" onmouseover="displayText({{ span.id }})" onmouseleave="hideText({{ span.id }})" class="inline" value="{{ span.orth }}" data-tooltip="{{ span.orth }}"><div class="popup" id="{{ span.id }}"><span>{{ span.orth }}</span><p></p></div>{{ span.orth }}</span>{% endfor %}
                                </div>
                            </div>
                            <div>
                                <form action="/logout" style="width:100%; display:flex; justify-content: center;">
                                    <button class="white long smallcaps-text" style="width:fit-content; color:black; border:0px">
                                        return home
                                    </button>
                                </form>
                            </div>
                        </div>   
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var spanContent = document.getElementById('mySpan').innerHTML;
                // console.log(spanContent);  for checking output
                if (mandarinspot && spanContent) {
                    mandarinspot.annotate(spanContent.text);
                } else {
                    console.error('Annotation library or container not available.');
                }
                setTimeout(() => {
                    enhanceAnnotations();
                }, 1000);
            });
            function displayText(id) {
                document.getElementById(id).setAttribute('style', "display: inline-block");
            }
            function hideText(id) {
                document.getElementById(id).setAttribute('style', "display: none");
            }
            function getRandomInt(max) {
                return Math.floor(Math.random() * max);
            }       
        </script>
        <script>
            function home() {
                window.location.href = "/"
            }
        </script>
        <script src="" async defer></script>
    </body>
</html>