<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="//mandarinspot.com/static/mandarinspot.min.js" charset="UTF-8"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main>
            {% if language == "jp" %}
                <input type="hidden" value="jp" id="language">
            {% elif language == "cn"  %}
            <input type="hidden" value="cn" id="language">
            {% endif %}

            <div class="urbanist-main">
                <div style="display:flex; flex-direction: row;">
                    <div class="sidebar" style="flex-direction: column;">
                        <a href="/" style="display: inline-block; height: 40px;">
                            <img style="height: 100%;" src="../static/wordweaverlogo.png" alt="Home">
                        </a>                        
                        <div style="display: flex; flex-direction: column; margin-top:15px; width:90%">
                            <div class="sidebar-item" >
                                <form action="/read" style="width:100%">
                                    <button class="long smallcaps-text" style="width:100%; color:black; border:0px; background: #ddd; border: 1px solid #3066be">
                                        read
                                    </button>
                                </form>
                            </div>
                            <div class="sidebar-item" >
                                <form action="/read" style="width:100%">
                                    <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                        write
                                    </button>
                                </form>
                            </div>
                            <div class="sidebar-item" >
                                <form action="/vocab" style="width:100%">
                                    <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                        vocabulary
                                    </button>
                                </form>
                            </div>
                            <div class="sidebar-item" >
                                <form action="/profile" style="width:100%">
                                    <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                        profile
                                    </button>
                                </form>
                            </div>
                            <div class="sidebar-item" >
                                <form action="/logout" style="width:100%">
                                    <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                        log out
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="ui" style="width:100%; overflow: scroll; max-height: 100vh; display: inline-block;">
                        <div class="row" style="height:fit-content">
                                <div onclick="home()" class="left aligned column" style="display:flex">
                                    <div class="two-col">
                                        <img style=width:100% src="../static/wordweaverlogo.png">
                                    </div>
                                    <div class="four-col" style="padding-left: 1rem; font-weight:500; font-size:32px; display: flex; align-items: center;">
                                        <span class="huge">Word Weaver</span>
                                    </div>
                                </div>
                        </div>
                        {% if language == "cn" %}
                        <div style="flex-direction: column;">
                            <div class="left aligned column main-col" style="max-width: 800px">
                                <div class="center-container" id="text" style="text-align: left;">
                                    <span style="position:relative;">{{ spans }}</span>
                                </div>
                            </div>
                        </div>
                        {% elif language == "jp" %}
                        <div style="flex-direction: row;">
                            <div style="flex-direction: column;">
                                <div class="left aligned column main-col" style="max-width: 800px">
                                    <div class="center-container" id="text" style="text-align: left;">
                                        {% for span in spans %}<span style="position:relative;" onmouseover="displayText({{ span.id }})" onmouseleave="hideText({{ span.id }})" class="inline" value="{{ span.lemma }}" data-tooltip="{{ span.orth }}"><div class="popup" id="{{ span.id }}"><form method="POST"><span>{{ span.lemma }}</span><p></p><button onclick="flash()" value="{{ span.lemma }}" name="word" class="blue" action="/read">I don't know this</button></form></div>{{ span.orth }}</span>{% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div style="flex-direction: column;">
                                <div class="left aligned column main-col" style="max-width: 800px">
                                    <div class="center-container" id="text" style="text-align: left;">
                                        <span style="position:relative;" class="inline">{{ eng_spans }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script>
            function displayText(id) {
                document.getElementById(id).setAttribute('style', "display: inline-block");
            }
            function hideText(id) {
                document.getElementById(id).setAttribute('style', "display: none");
            }
            function getRandomInt(max) {
                return Math.floor(Math.random() * max);
            }       
            function loadText() {
                var language = document.getElementById("language").value;
                //console.log(language);
                fetch ("../static/texts-" + language + ".json")
                     .then((res) => {
                        if (!res.ok) {
                            throw new Error 
                                (`HTTP error! Status: $(res.status)`);
                        }
                        return res.json();
                     })
                     .then((data) =>{
                        var index = getRandomInt(data.texts.length);
                        var span = "";
                        if (data.texts[index].author == "") { span = "No Author Attributable"; }
                        else { span = data.texts[index].author }
                        var container = document.getElementById('text');
                        container.innerHTML = `<p>${data.texts[index].text}</p><span>${span}</span>`;
                        if (language === 'cn') {
                            mandarinspot.annotate(container);
                            mandarinspot.showPopups(true);
                            //mandarinspot.showInline("visible")
                        }
                        return 0;
                     })
                     .catch((error) => console.error("Unable to fetch data:", error));
            }
        </script>
        <script>
            function home() {
                window.location.href = "/"
            }
        </script>
        <script src="" async defer></script>
    </body>
</html>