<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main>
            <div class="urbanist-main">
                <div style="display:flex; flex-direction: row;">
                    <div class="sidebar" style="flex-direction: column;">
                        <img style="height: 40px" src="../static/wordweaverlogo.png">
                        <div style="display: flex; flex-direction: column; margin-top:15px; width:90%">
                            <div class="sidebar-item" >
                                <form action="/read" style="width:100%">
                                    <button class="white long smallcaps-text" style="width:100%; color:black; border:0px;">
                                        read
                                    </button>
                                </form>
                            </div>
                            <!-- <div class="sidebar-item" >
                                <form action="/read" style="width:100%">
                                    <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                        write
                                    </button>
                                </form>
                            </div> -->
                            <div class="sidebar-item" >
                                <form action="/vocab" style="width:100%">
                                    <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                        vocabulary
                                    </button>
                                </form>
                            </div>
                            <div class="sidebar-item" >
                                <form action="/profile" style="width:100%">
                                    <button class="long smallcaps-text" style="width:100%; color:black; border:0px; background: #ddd; border: 1px solid #3066be">
                                        profile
                                    </button>
                                </form>
                            </div>
                            <div class="sidebar-item" >
                                <form action="/logout" style="width:100%">
                                    <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                        log out
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="ui" style="width:100%; justify-content: center;overflow: scroll;max-height: 100vh;">
                        <div class="row" style="height:fit-content">
                                <div class="left aligned column centered" style="display:flex; padding-top:10%">
                                    <div class="four-col" style="padding-left: 1rem; font-weight:500; font-size:32px; display: flex; align-items: center;">
                                        <span class="huge">{{ username }}</span>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="center-container" style="flex-direction: column; padding-top:0px">
                                <p>Reading since:</p>
                                <p>{{ starttime }}</p>
                            </div>  
                            <div class="center-container">
                                <span>Current Language:</span>
                                <form action="/select+language">
                                    {% if language == "cn" %}
                                    <button class="white clickable" name="language" id="cn" value="cn"><img style="width: 40px" src="../static/cnflag.png"></button>
                                    {% elif language == "jp" %}
                                    <button class="white clickable" name="language" id="jp" value="jp"><img style="width: 40px" src="../static/jpflag.png"></button>
                                    {% endif %}
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </main>
        <script>
            function home() {
                window.location.href = "/"
            }
        </script>
        <script src="" async defer></script>
    </body>
</html>