<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    </head>
    <body style="background: #eee;">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main>
            <div class="urbanist-main">
                <div class="ui top" style="margin-top:0px; height: 100vh">
                    <div class="row" style="align-items: center;">
                        <div class="left aligned column main-col" style="max-width: 400px;margin:auto">
                            <div style="display:flex; flex-direction: row;">
                                <form action="/" style="margin-right:-35.1655px"><button style="background: none; border: none" class="icon">&#x2715;</button></form>
                                <div class="center-container" style="width: 100%;">
                                    <span style="font-weight:450; font-size: 26px;">Select Your Language</span>
                                </div>
                            </div>
                            <form action="/select+language" method="POST" style="display:flex">
                                <div class="center-container half rounded">
                                        <button onclick="setLang(cn)" class="clickable" name="language" id="cn" value="cn" style="background: #fff;">
                                            <img style="width: 100%; border:1px #aaa" src="../static/chinaflag.png">   
                                            <span>Chinese(Simplified)</span>
                                        </button>   
                                </div>       
                                <div class="center-container half rounded">               
                                        <button onclick="setLang(jp)" class="clickable" name="language" id="jp" value="jp" style="background:#fff">
                                            <img style="width: 100%; border: 1px #aaa" src="../static/jpnflag.png">
                                            <span>Japanese</span>
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script>
            function setLang(string) {
                document.getElementsByTagName('language').value = string;
                console.log('called');
            }
        </script>
        <script src="" async defer></script>
    </body>
</html>