<!DOCTYPE html>
<html>
<head>
    <title>Vocabulary List</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="urbanist-main">
        <div style="display:flex; flex-direction: row;">
            <div class="sidebar" style="flex-direction: column;">
                <a href="/" style="display: inline-block; height: 40px;">
                    <img style="height: 100%;" src="../static/wordweaverlogo.png" alt="Home">
                </a>                        
                <div style="display: flex; flex-direction: column; margin-top:15px; width:90%">
                    <div class="sidebar-item" >
                        <form action="/read" style="width:100%">
                            <button class="white long smallcaps-text" style="width:100%; color:black; border:0px;">
                                read
                            </button>
                        </form>
                    </div>
                    <div class="sidebar-item" >
                        <form action="/read" style="width:100%">
                            <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                write
                            </button>
                        </form>
                    </div>
                    <div class="sidebar-item" >
                        <form action="/vocab" style="width:100%">
                            <button class="long smallcaps-text" style="width:100%; color:black; background: #ddd; border: 1px solid #3066be">
                                vocabulary
                            </button>
                        </form>
                    </div>
                    <div class="sidebar-item" >
                        <form action="/profile" style="width:100%">
                            <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                profile
                            </button>
                        </form>
                    </div>
                    <div class="sidebar-item" >
                        <form action="/logout" style="width:100%">
                            <button class="white long smallcaps-text" style="width:100%; color:black; border:0px">
                                log out
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ui" style="width:100%; overflow: scroll; max-height: 100vh; display: inline-block;">
                <div style="flex-direction: column;">
                    <div class="left aligned column main-col" style="max-width: 800px; margin-top: 150px;">
                        <div class="center-container" id="text" style="text-align: left;">
                            <h1 class="huge">Your Vocabulary List</h1>
                            <form action="/vocab" method="POST">
                                {% for level, words in vocab.items() %}
                                    <h2>{{ level.capitalize() }}</h2>
                                    <ul>
                                        {% for word in words %}
                                                <input type="checkbox" name="selected_words" value="{{ word.word }}" id="{{ word.word }}">
                                                <label for="{{ word.word }}">{{ word.word }}</label>
                                                {% if word.pronunciation != "" %}
                                                    <span>[{{ word.pronunciation }}]</span>
                                                    <button type="submit" name="delete" value="{{ word.word }}">Delete</button>
                                                {% endif %}
                                                <p>{{ word.sense }}</p>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                                <select name="action">
                                    <option value="generate_story">Generate Story</option>
                                    <option value="generate_email">Generate Email</option>
                                    <option value="generate_newspaper">Generate Newspaper</option>
                                    <!-- other actions can be added here -->
                                </select>
                                <button type="submit" name="submit_action" value="execute_action">Submit</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui" style="width:100%; overflow: scroll; max-height: 100vh; display: inline-block;">
                <div style="flex-direction: column;">
                    <div class="left aligned column main-col" style="max-width: 800px; margin-top: 150px;">
                        <div class="center-container" id="text" style="text-align: left;">
                            <h1 class="huge">Let's practice by exploring new stories that include these words! </h1>
                            <h1 class="huge">Check the box to select a word</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
